const template = `import i18n from 'i18next';
import { initReactI18next } from 'react-i18next';
import LanguageDetector from 'i18next-browser-languagedetector';
import { initializeI18n } from '@reactionable/core';

// Import locales
import en from "./locales/en/translation.json";
import fr from "./locales/en/translation.json";

initializeI18n({
  resources: {
    en: { translation: en },
    fr: { translation: fr },
  },
});`;
module.exports = template;
