const template = `import { initializeI18n } from '{{ hostingPackage }}';

// Import locales
import en from "./locales/en/translation.json";
import fr from "./locales/en/translation.json";

initializeI18n({
  resources: {
    en: { translation: en },
    fr: { translation: fr },
  },
});`;
module.exports = template;
