const template = `{
    "projectName": {{{projectName}}},
    "version": {{{projectVersion}}},
    "frontend": "javascript",
    "javascript": {
        "framework": "react",
        "config": {
            "SourceDir": "src",
            "DistributionDir": "build",
            "BuildCommand": "npm run build",
            "StartCommand": "npm start"
        }
    },
    "providers": [
        "awscloudformation"
    ]
}`;
module.exports = template;