export default `import React from 'react';
import ReactDOM from 'react-dom';
import { MemoryRouter } from 'react-router';
import {{componentName}} from './{{componentName}}';

it('renders without crashing', () => {
  const div = document.createElement('div');
  ReactDOM.render(<MemoryRouter><{{componentName}} /></MemoryRouter>, div);
  ReactDOM.unmountComponentAtNode(div);
});`
