name: Internal - Common Continuous Integration tasks

on:
  workflow_call:
    outputs:
      build-artifact-id:
        description: "The IDs of the artifacts produced by the build step"
        value: ${{ jobs.continuous-integration.outputs.build-artifact-id }}

permissions: {}

jobs:
  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@338755b95043af1f8aa17409529fd20a9d2ef659 # 0.20.6
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write
    with:
      build: |
        {
          "commands": ["build", "build:doc"],
          "artifact": ["build", "dist"]
        }
      test: |
        { "coverage": "codecov" }
