name: Internal - Common Continuous Integration tasks

on:
  workflow_call:

jobs:
  continuous-integration:
    permissions:
      id-token: write
      security-events: write
      contents: read
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@0.17.0
    with:
      build: |
        {
          "commands": ["build", "build:doc"],
          "artifact": ["build", "dist"]
        }
